<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID"
    version="2.5">
  <display-name>Archetype Created Web Application</display-name>
	 <!--  配置spring监听器 -->
	 <listener>
	 	<!-- 监听器默认加载的是WEB-INF/applicationContext.xml -->
	 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	 </listener>
	 <!-- 指定spring框架的配置文件所在位置 ,
	 		修改cxf-servlet.xml的位置和文件名
	 -->
	 <context-param>
	 	<param-name>contextConfigLocation</param-name>
	 	<param-value>classpath*:applicationContext.xml,classpath*:ws-cxf-servlet.xml</param-value>
	 </context-param>
	<!--   配置cxf服务 -->
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<!-- 修改cxf-servlet.xml的位置和文件名的第一種方式 -->
		<!-- 
		<init-param>
			<param-name>config-location</param-name>
			<param-value>classpath:ws-cxf-servlet.xml</param-value>
		</init-param>
		 -->
	</servlet>
	<!-- 修改cxf-servlet.xml的位置和文件名的第二種方式
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ws-cxf-servlet.xml</param-value>
	</context-param>
	 -->
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
</web-app>
