<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NetPro04 TCP Socket/src/com/baiHoo/tcp/chatGUI/server/MyServerSocket.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.baiHoo.tcp.chatGUI.server.MyServerSocket"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NetPro04 TCP Socket"/>
</launchConfiguration>
