<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <filter>
    <filter-name>aboutUploadRequestFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.AboutUploadRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>aboutUploadRequestFilter</filter-name>
    <url-pattern>/WEB-INF/backstage/admin/additionalAdmin.jsp</url-pattern>
    <url-pattern>/AdminServlet.servlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>userAutoLogonFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.UserAutoLogonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userAutoLogonFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.walkerChen.estore.listener.UserListener</listener-class>
  </listener>
  <filter>
    <filter-name>characterFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>escapeFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.EscapeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>escapeFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>sensitiveVocabularyFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.SensitiveVocabularyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sensitiveVocabularyFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>transactionFilter</filter-name>
    <filter-class>com.walkerChen.estore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>transactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>